repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.4
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    # Run the formatter.
    - id: ruff-format
    # Sort imports
    - id: ruff-check
      args: [--select=I, --fix, --show-fixes]
- repo: https://github.com/Instagram/Fixit
  rev: v2.1.0
  hooks:
    - id: fixit-fix
- repo: local
  hooks:
    - id: mypy
      name: mypy (via uv)
      entry: uv run mypy
      language: system
      types: [python]
      # Only check files in src/noether
      files: ^src/noether/
      args: []