name: Remove docs built for a pull request

on:
  pull_request:
    types:
      # closed runs any time the PR is merged or closed
      - closed

jobs:
  remove-pr-docs:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'build-docs')
    steps:
      - name: Checkout noether-docs repos
        uses: actions/checkout@v4
        with:
          repository: Emmi-AI/noether-docs
          ref: gh-pages
          token: ${{ secrets.NOETHER_DOCS_REPO_TOKEN }}
          path: noether-docs

      - name: Remove docs from noether-docs repos
        env:
          TARGET_REPO: 'Emmi-AI/noether-docs'
          TARGET_BRANCH: 'gh-pages'
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'

          TARGET_DIR="noether-docs/${GITHUB_HEAD_REF/\//-}"

          rm -r "$TARGET_DIR"

          cd noether-docs/
          git add .
          git commit -m 'Remove documentation of closed PR' || echo 'No changes to commit'
          git push origin ${TARGET_BRANCH}